#uom-logo {
    padding:20px;
    width:100%;
}

.text_col_black {
    color: black !important;
}

#bar-chart{
    width:100%;
    height:250px;
}

#page-mask {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.5;
}

#creat-calc{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#about-box{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#input-group-select
{
    width:30%;
}

.last-row {
    width:100%;
    padding-left:12px;
}